/*

!/README.md
!/.gitignore
!/.requirements
!/.zshrc
!/.zprofile
!/.Xresources

!/.config/
/.config/*

!/.config/fontconfig/
!/.config/htop/
!/.config/hypr/
!/.config/kitty/
!/.config/pip/
!/.config/waybar/

!/.config/psd/
/.config/psd/.psd.conf

!/.config/nvim/
/.config/nvim/plugin/

!/.config/zsh/
/.config/zsh/*

!/.config/zsh/zshrc.d/

!/.local/
/.local/*

!/.local/bin/
/.local/bin/*

!/.local/bin/common/
!/.local/bin/webapp/

!/.local/share/
/.local/share/*

!/.local/share/icons/
/.local/share/icons/hicolor/

!/.cargo/
/.cargo/*

!/.cargo/config

!/.icons/
