/*

!/.gitignore
!/.requirements
!/.zshrc
!/.zprofile
!/.Xresources

!/.config/
/.config/*

!/.config/htop/
!/.config/hypr/
!/.config/kitty/
!/.config/nvim/
!/.config/pip/
!/.config/waybar/

!/.config/zsh/
/.config/zsh/*

!/.config/zsh/zshrc.d/

!/.local/
/.local/*

!/.local/bin/
/.local/bin/*

!/.local/bin/common/
!/.local/bin/webapp/

!/.local/share/
/.local/share/*

!/.local/share/fcitx5/
/.local/share/fcitx5/*

!/.local/share/fcitx5/rime/

!/.local/share/icons/

!/.cargo/
/.cargo/*

!/.cargo/config

!/.icons/
